@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
.keypad {
  margin-top: 45px;
}
.button-group {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 110px;
}
.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33%;
  margin: 10px;
  border-radius: 15px;
  font-family: "Electrolize", sans-serif;
  font-size: 35px;
  border: 2px solid grey;
  background-color: grey;
  color: white;
}
.q {
  background-color: rgb(100, 0, 0);
  box-shadow: 0px 0px 18px rgb(255, 99, 99);
}

.w {
  background-color: rgb(151, 98, 0);
  box-shadow: 0px 0px 18px rgb(221, 164, 98);
}
.e{
  background-color: rgb(172, 172, 0);
  box-shadow: 0px 0px 18px rgb(246, 250, 38);
}
.a {
  background-color: rgb(0, 105, 0);
  box-shadow: 0px 0px 18px rgb(0, 80, 0);
}
.s {
  background-color: rgb(0, 0, 121);
  box-shadow: 0px 0px 18px rgb(43, 142, 235);
}
.d {
  background-color: rgb(82, 0, 82);
  box-shadow: 0px 0px 18px rgb(146, 50, 255);
}
.z {
  background-color: rgb(143, 251, 255);
  box-shadow: 0px 0px 18px rgb(43, 142, 235);
}
.x {
  background-color: rgb(192, 170, 137);
  box-shadow: 0px 0px 18px rgb(248, 255, 215);
}
.c {
  background-color: rgb(105, 212, 72);
  box-shadow: 0px 0px 18px rgb(154, 255, 113);
}
