.power-btn{
    border-radius:65px ;
    height: 65px;
    width: 65px;
    margin-bottom: 0px;
    margin-left: -10px;
}
 .off i{
 color: red;
 font-size: 50px;
 margin-top: 1px;
 margin-left: -5px;
 text-shadow: 2px 0px 10px red;
}
.on i{
    color: greenyellow;
    font-size: 50px;
    margin-left: -5px;
    text-shadow: 2px 2px 15px greenyellow;
   }

.info-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    padding: 0px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
